<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()" class="games-form">
    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="__T" />
    <input type="hidden" formControlName="created" />
    <input type="hidden" formControlName="createdBy" />
    <input type="hidden" formControlName="modified" />
    <input type="hidden" formControlName="modifiedBy" />
    <div class="row">
        <div class="col mb-3">
            <dl>
                <dt>
                    <mat-label>Page Name</mat-label>
                </dt>
                <dd>
                    <mat-form-field>
                        <input type="text" formControlName="name" matInput [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </dd>
            </dl>
            
        </div>
    </div>
    <button mat-raised-button color="primary" type="button" (click)="addFormDescription()">Add Paragraph</button>
    <div class="row" formArrayName="description">
        <div class="col mb-3" *ngFor = "let item of description.controls; let idx = index" [formGroupName]="idx">
            <dl>
                <dt>
                    <mat-label>Description</mat-label>
                </dt>
                <dd>
                    <mat-form-field appearance="fill" class="full-width">
                        <textarea matInput
                        cdkTextareaAutosize
                        cols="100"
                        [formControlName]="idx" class="form-control"></textarea>
                    </mat-form-field>
                </dd>
                <button mat-raised-button color="primary" type="button" (click)="deleteFormDescription(idx)">Delete</button>
            </dl>
        </div>
    </div>
    <div>&#160;</div>
    <hr/>

    <button mat-raised-button color="primary" type="button" (click)="addFormGameOption()">Add Option</button>
    <div class="row" formArrayName="options">
        <div class="col mb-3" *ngFor = "let item of options.controls; let idx = index" [formGroupName]="idx">
            <dl>
                <dt>
                    <mat-label>Next</mat-label>
                </dt>
                <dd>
                    <mat-form-field>
                        <input matInput formControlName="next" />
                    </mat-form-field>
                </dd>
                <dt>
                    <mat-label>Description</mat-label>
                </dt>
                <dd>
                    <mat-form-field>
                        <input matInput formControlName="description" />
                    </mat-form-field>
                </dd>
                <button mat-raised-button color="primary" type="button" (click)="deleteFormGameOption(idx)">Delete</button>
            </dl>
        </div>
    </div>
    <div>{{getFormValidationErrors()}}</div>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Save</button> | 
    <button mat-raised-button color="primary" type="button" (click)="onDelete()">Delete</button> | 
    <button mat-raised-button color="primary" type="button" (click)="onCancel()">Cancel</button>
    
</form>
