<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="__T" />
    <input type="hidden" formControlName="created" />
    <input type="hidden" formControlName="createdBy" />
    <input type="hidden" formControlName="modified" />
    <input type="hidden" formControlName="modifiedBy" />
    <div class="row">
        <div class="col mb-3">
            <label class="form-label">Page Name</label>
            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="addFormDescription()">Add Paragraph</button>
    <div class="row" formArrayName="description">
        <div class="col mb-3" *ngFor = "let item of description.controls; let idx = index" [formGroupName]="idx">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="5" cols="50" [formControlName]="idx" class="form-control"></textarea>
            <button type="button" (click)="deleteFormDescription(idx)">Delete</button>
        </div>
    </div>
    <div>&#160;</div>
    <hr/>

    <button class="btn btn-primary" type="button" (click)="addFormGameOption()">Add Option</button>
    <div class="row" formArrayName="options">
        <div class="col mb-3" *ngFor = "let item of options.controls; let idx = index" [formGroupName]="idx">
            <label class="form-label">Next</label>
            <input class="form-control" rows="5" cols="50" formControlName="next" />

            <label class="form-label">Description</label>
            <input class="form-control" rows="5" cols="50" formControlName="description" />
            <button type="button" (click)="deleteFormGameOption(idx)">Delete</button>
        </div>
    </div>
    <div>{{getFormValidationErrors()}}</div>
    <button [disabled]="form.invalid">Save</button>
</form>
