<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div *ngIf="_gameEntries.length">
                <div *ngFor="let _gameEntry of _gameEntries">
                    <div>
                        <a mat-raised-button color="primary" href='games/edit/{{_gameEntry.id}}' role="button">
                            Edit
                        </a> | 
                        <a mat-raised-button color="primary" href='games/add' role="button">
                            Add
                        </a>
                    </div>
                    <ul style="margin:0px;padding:0px;list-style-type: none;">
                        <li *ngFor="let desc of _gameEntry.description">{{desc}}</li>
                    </ul>
                    <br/>
                    <b>Option(s):</b>
                    <ul *ngIf="_gameEntry.options.length">
                        <li *ngFor="let gameOption of _gameEntry.options">
                            <a href="games/view/{{gameOption.next}}" role="button">{{gameOption.description}}</a>
                        </li>
                    </ul>
                    <ul *ngIf="!_gameEntry.options.length">
                        <li>Game over. Click <a href="games/view/begin">here</a> to start over.</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="!_gameEntries.length">
                loading...<br/>
            </div>
        </div>
    </div>
</div>