.toolbar-spacer {
    flex: 1 1 auto;
  }

  a.title {
    color: white;
  }
.mat-mdc-button:not(:disabled) {
  color:white;
  font-size:1.5rem;
}
mat-toolbar {
    background: #004a9f;
}

mat-sidenav {
    margin: 16px;
    width: 300px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    font-size:3rem;
}

.content {
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding:30px;
    display: flex;

    font-size: 1.5rem;
    color: black;
    line-height: 2.5rem;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
.mat-icon {
  transform: scale(2);
  vertical-align:middle;
}