<mat-toolbar>
  <a class="title" style="text-decoration: none;font-size:1.5rem;" href="">
    <mat-icon>home</mat-icon>
  </a>
  
  <div class="toolbar-spacer"></div>
  <button type="button" class="menu-button" mat-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  

</mat-toolbar>
  
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" #sideNav mode="side">
    <button mat-button class="menu-button" *ngIf="loginDisplay" [routerLink]="['game-play/begin']">
      <mat-icon>games</mat-icon>
      <span>&#160;Play Game</span>
    </button>
    <button mat-button class="menu-button" *ngIf="loginDisplay" [routerLink]="['games/view/begin']">
      <mat-icon>edit</mat-icon>
      <span>&#160;Edit Game</span>
    </button>
    <button mat-button class="menu-button" *ngIf="loginDisplay" [routerLink]="['profile']">
      <mat-icon>person</mat-icon>
      <span>&#160;Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" *ngIf="!loginDisplay" (click)="login()">
      <mat-icon>lock</mat-icon>
      <span>&#160;Login</span>
    </button>
    <button mat-button class="menu-button" *ngIf="loginDisplay" (click)="logout()">
      <mat-icon>lock_open</mat-icon>
      <span>&#160;Logout</span>
    </button>
  </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
            <router-outlet *ngIf="!isIframe"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>